# This file stores filepaths and other configs. Take care when editing.
#
# BASEDIR is the absolute path to the directory of the pipeline, e.g. BASEDIR=/data/user/taxus/wgs_processing/
BASEDIR=/data/user/taxus/wgs_processing/
# REF is the relative path from BASEDIR to the reference genome file in  uncompressed FASTA format, e.g. REF=data/ref/ref.fasta
REF=data/ref/ref.fasta
# METAFILE is the relative path from BASEDIR to a text file containing readgroup tag info, e.g. METAFILE=data/metainfo.txt
# The file should be formatted as follows, with a header line and one line per library:
# ID      BC      CN      DS      LB      PL      PM      PU      SM
# L131030_Track-174316    CTGATCGT-ATATGCGC       DCGC    TXBAC_7_1       L131030 Illumina        Illumina_NovaSeq_6000   Track-174316    S142223
METAFILE=data/metainfo.txt
