# This file stores filepaths and other configs. Take care when editing.
# absolute path to this working directory, e.g., /home/user/project/
BASEDIR=
# the phenotype file is a tab- or space delimited file with ONLY the individuals that should be included: 1st column fID, 2nc column iID, 3rd column phenotype (e.g. 0 for female, 1 for male). fID and iID are the same in my case
PHENO=data/pheno_100.txt
# the filter is a string with the filter name, e.g. 100s_gwas or 100s_popstruct
FILTER=
