# absolute path to working directory
BASEDIR=
# number of threads to use
THREADS=
# genome file name (without file extension, but file extension MUST be .fa)
NAME=
# absolute path to dfam_tetools container
C_TETOOLS=
# absolute path to busco container
C_BUSCO=
# absolute path to minimap2 container
C_MINIMAP=
# absolute path to braker container for short read
C_BRAKERsr=
# absolute path to braker container for long read / isoseq
C_BRAKERlr=
# absolute path to EnTAP container
C_ENTAP=
# absolute path to busco database
DBPATH=
# absolute path to conda.sh
CONDAPATH=
# conda environment name to use for auxillary programs (samtools, bedtools, gaas, etc.)
CENVNAME=
# species entries for augustus (change for female samples)
AUG_SPECIES_SR="taxus_baccata-sr_male_h1"
AUG_SPECIES_LR="taxus_baccata-lr_male_h1"

