# This file stores filepaths and other configs. Take care when editing.
# base parameter needs a / at the end
BASEDIR=/path/to/working/dir/
# prepare .bed file beforehand , e.g. with pyfaidx; the file needs to be in proper BED format, e.g.:	chr1	0	12345
BED=data/test.bed
WIN_SIZE=1000
STEP=500
REFSEX=male
EXP_COV=15
SIGTHRESHHOLD=0.05
DBSIZE=
